<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicio de Predicción</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Predicción</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/prediccion">Predicción</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Bienvenido al Servicio de Predicción</h1>
            <p class="lead">Esta es una API que simula un modelo de predicción.</p>
            <hr class="my-4">
            <p>Utilice los endpoints disponibles para interactuar con el servicio.</p>
            <a class="btn btn-primary " href="/prediccion" role="button">Prediccion</a><br>  <br>  
            <a class="btn btn-primary btn-lg" href="https://github.com/Roguez69/Contenedores.git" role="button">Ver en GitHub</a>
        </div>
    </div>
</body>
</html>
